<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Conductor</title>

    <!-- Leaflet -->
    <link rel="stylesheet"
    href="https://unpkg.com/leaflet/dist/leaflet.css"/>

    <style>

        body{
            margin:0;
            font-family:Arial, sans-serif;
        }

        .navbar{
            background:#0d6efd;
            color:white;
            padding:15px;
            text-align:center;
        }

        #map{
            width:100%;
            height:90vh;
        }

    </style>
</head>
<body>

<div class="navbar">
    <h2>Panel del Conductor</h2>
</div>

<div id="map"></div>

<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script>

    // Crear mapa
    const map = L.map('map').setView([4.9186, -74.0276], 13);

    // Capa OpenStreetMap
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'OpenStreetMap'
    }).addTo(map);

    // Marcador bus
    L.marker([4.9186, -74.0276])
        .addTo(map)
        .bindPopup("Bus en ruta");

</script>

</body>
</html>